<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Time is Valuable, We're Here to Help</h1>
            <hr>
            <p>With such a vast number of financial podcasts it's easy to feel overwelmed. Luckily we're here to curate and bring you only the best, most relevent content. There's only so many hours in the day, how much do you value your time?</p>
            <%- if user_signed_in? %>
        
            <% else %>
				<a href="/users/sign_up" class="btn btn-primary btn-xl page-scroll">Sign up Now!</a>
	        <% end %>
	     </div>
    </div>
</header>

