<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-pencil wow bounceIn text-primary"></i>
                    <h3>Weekly Write up</h3>
                    <p class="text-muted">We've distilled the most noteworthy info from the week into a short written summary.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Weekly Top 5</h3>
                    <p class="text-muted">See what this weeks top podcasts are. We curate the best to save you time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="/rate_podcasts"><i class="fa fa-4x fa-star-o wow bounceIn text-primary" data-wow-delay=".2s"></i></a>
                    <a href="/rate_podcasts"><h3>Rate Podcasts</h3></a>
                    <p class="text-muted">See our ratings and what the community is saying.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-podcast wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Best of Mix</h3>
                    <p class="text-muted">Short on time? We bring you the top highlights from the week.</p>
                </div>
            </div>
        </div>
    </div>
</section>

